#hero{

    height: 90vh;
    width: 100%;
    

    @include xl {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 1440px auto;
    }

    >div{

        overflow: hidden;

        height: 100%;
        @include xl {
            grid-area: hero;
        }
       

        article{

            align-items: center;
            background-image: url('../img/hero/hero.jpg');
            background-position: center;
            background-size: cover;
            display: flex;
            height: 100%;
            justify-content: center;
    

            #hero-content {
                color: $white;
                text-align: center;
    
                h1 {
                    font-size: rem-calc(80);
                    font-weight: 900;
                    line-height: 117px;
                    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
    
                    @include md {
                        font-size: rem-calc(90);
                    }
    
                    @include lg {
                        font-size: rem-calc(100);
                    }
                }
    
                h2 {
                    font-size: rem-calc(30);
                    font-weight: 400;
                    line-height: 47px;
                    margin-top: -25px;
                    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    
                    @include md {
                        font-size: rem-calc(40);
                        margin-top: -20px;
                    }
    
                    @include lg {
                        font-size: rem-calc(50);
                        margin-top: -15px;
                    }
                }
            }
        }

        
    }
}